{% extends '@Enfermeria/Default/index.html.twig'%}

{% block content -%}
    {{ parent() }}
    <div class="page-header">
        <h1>Bienvenido al modulo de enfermeria</h1>
    </div>
    <div class="list-group">
        <div class="col-md-12">
            <div class=" col-md-6 act-img-enf">
                <div class="img" id="enfer1">

                </div>
                <div class="enl-e">
                    <h1><a href="{{ path('ud_enfermeria_ssocial') }}">Seguridad Social</a></h1>
                </div>
            </div>

            <div class="col-md-6 act-img-enf">
                <div class="img" id="enfer2">

                </div>
                <div class="enl-e">
                    <h1><a href="{{ path('ud_enfermeria_reporte') }}">Reporte</a></h1>
                </div>
            </div>
        </div>
    </div>

{% endblock %}